.vscode
.python-version
**/__pycache__
.env
bugreportfiles
bug_reports
layoutfiles
tmp_generated_files
*.log
node_modules
jsdist
*.pyc
*.out

# Ignore most config files, except for the presets
config/*
!config/preset-*

# Default directory for grizzly results
results/*

# Ignore folder with firefox build
firefox/*