.report-text {
    margin-bottom: 10px;
}
.report-textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    min-height: calc(90vh - 220px);
    white-space: nowrap;
    font-family: "Lucida Console", "Courier New", monospace;
}
.links-section {
    margin-top: 20px;
}
.links-spacing {
    margin-right: 10px;
    margin-bottom: 10px;
}