.search-container {
    margin-bottom: 10px;
}
.preset-searches {
    margin-bottom: 40px;
}
.preset-searches button {
    margin-right: 10px;
    margin-bottom: 10px;
}
.clickable {
    cursor: pointer;
}
.icon {
    font-size: 20px;
    margin-right:10px;
}

.BugList h2 {
    text-align: center;
    margin-bottom: 30px;
}